// Navigation Styles here
nav {
	display: flex;
	#flex.justify(flex-end);
	#flex.grow();
	padding-right: 16px;
	a {
		font-size: 1.65rem;
		padding: 15px;
		color: inherit;
		text-decoration: none;
	}
}